@media screen and (max-width: 1265px) {
  //Intro Section
  .intro_container {
    grid-template-columns: 5vw 1fr 5vw;
  }

  .intro_content_h3 {
    font-size: 16px;
  }

  .intro_content_h2 {
    font-size: 70px;
  }

  .intro_content_build_h2 {
    font-size: 70px;
  }

  .intro_content_p {
    font-size: 18px;
  }

  //Experience Section
  .some {
    grid-template-columns: 0.5fr 98vw 0.5fr;
  }
}

@media screen and (max-width: 1249px) {
}
