.intro {
  z-index: 11;
}

canvas {
  display: block;
  box-sizing: border-box;
}
.canvas-container {
  position: fixed;
  box-sizing: border-box;
  font-size: 0;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  z-index: 0;
}

.intro_container {
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  align-items: center;
  justify-self: center;
  height: 90vh;
  width: 100vw;
  z-index: 12;
  position: relative;
}

.intro_content {
  display: grid;
  grid-column: 2 / 3;
  align-items: center;
  justify-content: center;
}

/* First Line My name Is */
.intro_content_h3 {
  font-size: 18px;
  font-weight: 600;

  background-color: $color-blue-highlight;
  font-family: $font-secondary;
  background-size: 100%;
  line-height: 1.1;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 0;
}

/* Theo Sphikas */
.intro_content_h2 {
  font-size: clamp(40px, 8vw, 80px);
  background-color: $color-light-slate;
  font-family: $font-primary;
  background-size: 100%;
  line-height: 1.1;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 0;

  span {
    color: $color-blue-highlight !important;
  }
}

/* Line 3 Build Things */
.intro_content_build_h2 {
  font-size: clamp(40px, 8vw, 80px);
  background-color: $color-slate;
  font-family: $font-primary;
  background-size: 100%;
  line-height: 1.1;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 0;
}

/* Paragraph last part content */
.intro_content_p {
  margin: 5px 0px 0px;
  max-width: 1020px;
  font-size: 20px;
  font-weight: 400;
  color: $color-slate;
  font-family: $font-primary;
  opacity: 0;
}

.my_work_btn {
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-family: $font-secondary;
  opacity: 0;
  width: fit-content !important;
}

.intro_img_container {
  text-align: center;
}

#intro_img {
  height: 80%;
  width: 80%;
}
