/* 320px — 480px: Mobile devices */

@media screen and (max-width: 480px) {
  /* Intro Page */
  .intro_container {
    grid-template-columns: 1vw 1fr 1vw;
  }

  .intro_content {
    .intro_content_h1 {
      font-size: 2rem;
      margin-top: 3rem;
    }

    .intro_content_h2 {
      font-size: 40px;
    }

    .intro_content_h3 {
      font-size: 16px;
      margin-bottom: 25px;
    }

    .intro_content_build_h2 {
      margin-top: 15px;
      font-size: 40px;
    }
    .intro_content_p {
      margin-top: 25px;
      font-size: 18px;
    }
    .my_work_btn {
      margin-top: 50px;
    }
  }

  .contact_container {
    align-items: center;
    justify-items: center;
  }

  .contact_content {
    text-align: center;
    justify-items: center;
  }
  .hello_btn {
    margin: 40px 0px 40px 0px;
  }
  .contact_content_p {
    font-size: 16px !important;
  }
  .contact_content_h2 {
    margin: 0 0 20px 0;
  }
  .contact_content_h3 {
    margin: 10px 0 20px 0;
  }

  .navbar_toggle {
    margin-right: 10px;
  }

  .about_content {
    margin-bottom: 4rem;
  }

  .about_content_h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .about_content_h2 {
    font-size: 40px;
  }

  .about_content_p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .tab_links {
    font-size: 16px;
  }

  .tab_contents ul li {
    font-size: 14px;
  }

  .some_header_h1 {
    font-size: 40px;
  }

  .about_row {
    width: 100%;
  }
  .about_col_2 {
    width: 100%;
  }

  .tab_links {
    margin: auto;
  }

  .some_header {
    margin-top: 75px;
  }
}
