@media screen and (max-width: 1024px) {
  /* Nav Bar */

  .navbar_container {
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0;
    z-index: 2;
  }

  .navbar_menu {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    top: -1000px;
    opacity: 1;
    transition: all 0.5 ease;
    z-index: -10;
    background: #040e1b;
  }

  .navbar_menu.active {
    background: #040e1b;
    top: 100%;
    transition: all 0.5s ease;
    z-index: 99;
    font-size: 1.2rem;
  }

  #navbar_logo {
    padding-left: 25px;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3 ease-in-out;
    background: $color-white;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar_links {
    box-sizing: border-box;
    text-align: center;
    align-items: flex-start;
    padding: 2rem;
    width: 100vw;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_btn {
    padding-bottom: 2rem;
    padding-left: 0 !important;
    padding: 32px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }

  //Nav Bar Animation

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* Card UI */
  /*  .some {
    grid-template-columns: 2vw 1fr 2vw;
  } */
  .some_container {
    .some_card {
      flex-direction: column;
      max-width: 330px;
      margin: 2%;
      background: $color-primary-darker;

      .some_content_box {
        width: 90%;
        height: auto;
        right: 0;
        padding: 30px;
        margin: 0 10px 0 10px;
        text-align: center;

        &:before {
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }
      }
      .some_img_box {
        max-width: 90%;
        height: 250px;
        left: 0;
        top: 17px;
      }

      &:nth-child(even) {
        .some_img_box {
          left: 0;
        }
        .some_content_box {
          right: 0;
          padding: 30px;
          text-align: center;
          margin: 0 10px 0 10px;
        }
      }
    }
  }

  .fa-brands {
    padding-left: 10px;
    padding-right: 10px;
  }

  .some_content {
    width: 320px;
  }

  .tech_list_ul {
    padding-bottom: 10px;
    padding-right: 0;

    .tech_list_li {
      margin: 0 10px 5px 10px !important;
    }
  }

  //Intro Section

  .intro_container {
    grid-template-columns: 5vw 1fr 5vw;
  }

  .intro_content_h3 {
    font-size: 18px;
  }

  .intro_content_h2 {
    font-size: 66px;
  }

  .intro_content_build_h2 {
    font-size: 64px;
  }

  .intro_content_p {
    font-size: 18px;
  }

  //AboutMe
  .about_content_h1 {
    font-size: 18px;
  }

  .about_content_p {
    font-size: 16px;
  }

  .about_content_ul {
    font-size: 13px;
  }

  .about_container {
    height: 60vh;
  }

  //Contact Details
  .contact_content_h2 {
    font-size: 40px;
  }
  .contact_content_p {
    font-size: 18px;
  }
}
