@media screen and (max-width: 1024px) {
  /* Card UI */

  .some_container {
    .some_card {
      flex-direction: column;
      max-width: 330px;
      margin: 2%;
      background: $color-primary-darker;

      .some_content_box {
        width: 90%;
        height: auto;
        right: 0;
        padding: 30px;
        margin: 0 10px 0 10px;
        text-align: center;

        &:before {
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }
      }
      .some_img_box {
        max-width: 90%;
        height: 250px;
        left: 0;
        top: 17px;
      }

      &:nth-child(even) {
        .some_img_box {
          left: 0;
        }
        .some_content_box {
          right: 0;
          padding: 30px;
          text-align: center;
          margin: 0 10px 0 10px;
        }
      }
    }
  }

  .fa-brands {
    padding-left: 10px;
    padding-right: 10px;
  }

  .some_content {
    width: 320px;
  }

  .some_header_p {
    font-size: 16px;
  }

  .tech_list_ul {
    padding-bottom: 10px;
    padding-right: 0;

    .tech_list_li {
      margin: 0 10px 5px 10px !important;
    }
  }

  //Intro Section

  .intro_container {
    grid-template-columns: 5vw 1fr 5vw;
  }

  .intro_content_h3 {
    font-size: 18px;
  }

  .intro_content_h2 {
    font-size: 66px;
  }

  .intro_content_build_h2 {
    font-size: 64px;
  }

  .intro_content_p {
    font-size: 18px;
  }

  //AboutMe
  .about_content_h1 {
    font-size: 18px;
  }

  .about_content_p {
    font-size: 16px;
  }

  .about_content_ul {
    font-size: 13px;
  }

  //Contact Details
  .contact_content_h2 {
    font-size: 40px;
  }
  .contact_content_p {
    font-size: 18px;
  }

  .about_row {
    grid-column: 1 / -1;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
  }

  .about_row > * {
    flex-basis: 100%;
  }
  .about_col_1 {
    display: none;
  }

  .some_header {
    margin-top: 100px;
  }
}
