body {
  font-family: $font-primary;
  //font-weight: 300;
  //line-height: 1.7;
}

.container {
  background-image: linear-gradient($color-primary, $color-primary-dark);

  display: grid;

  grid-template-rows: 8vh 100vh repeat(3, 40vw) repeat(2, 100vh);
  grid-template-columns: 6vw 1fr repeat(8, minmax(min-content, 14rem)) 1fr [fullright-end sidebarright-start] 6vw [sidebarright-end];

  overflow: auto;
}
