.nav_bar {
  background-color: $color-primary;
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: grid;
  /*   position: -webkit-sticky;
  position: sticky;
  top: 0; */
}

nav {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: $font-secondary;
}

.logo {
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 12px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: $color-white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: $color-white;
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  //STops scrolling needs to be sorted
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 0vh;
    background-color: $color-primary;
    display: grid;

    grid-column: 1 / -1;
    grid-row: 1 / -1;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    transform: translateX(100%);
    z-index: 5;
    width: 50%;
  }

  .btn {
    display: none;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    z-index: 10;
  }
}

.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease;
}
