//Basic Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $color-primary-dark;
  /* background-image: linear-gradient($color-primary, $color-primary-dark); */
}
//Use to hide elements
.hidden {
  display: none;
}
//Use to pause animations

.paused {
  animation-play-state: paused;
}
