//Basic Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  //background: $color-primary-dark;
  overflow-x: hidden;
}

//Use to hide elements
.hidden {
  display: none;
}
//Use to pause animations

.paused {
  animation-play-state: paused;
}
