//Basic Reset
* {
  margin: 0;
  padding: 0;
}

html,
body {
  //overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.site-wrapper {
  overflow-x: hidden;
}

//Use to hide elements
.hidden {
  display: none;
}
//Use to pause animations

.paused {
  animation-play-state: paused;
}
