/* $color-blue-dark: #09aaaf; */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 162.5%; }

body {
  font-family: sans-serif;
  color: #e6f1ff;
  background-color: #0b213d;
  display: inline-block;
  font-size: 16px; }

.header_1, .header_2, .header_3, .header_4 {
  font-weight: 400; }

.header_1 {
  font-family: sans-serif;
  font-size: 3.8rem;
  color: #e6f1ff;
  line-height: 1; }

.header_2 {
  font-family: sans-serif;
  font-size: 3.2rem;
  color: #e6f1ff;
  line-height: 1; }

.header_3 {
  font-family: sans-serif;
  font-size: 1rem;
  color: #e6f1ff; }

.header_4 {
  font-family: sans-serif;
  font-size: 1rem;
  color: #08e5ec; }

.aboutMe {
  background-color: aquamarine;
  grid-column: 3 / 11;
  grid-row: 2 /3; }

.contact {
  background-color: white;
  grid-column: 3 / 11;
  grid-row: 5 /6; }

.experiences {
  grid-column: sidebarleft-end / sidebarright-start;
  grid-row: 4 /5;
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem; }

.experience {
  background-color: #223a77;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem;
  border-radius: 6px; }
  .experience_img {
    padding: 1rem 1rem 0rem 1rem;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 /-1;
    z-index: 1; }
  .experience_bi_github {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    z-index: 2;
    justify-self: end;
    margin-right: 2.5rem;
    margin-top: 0.7rem; }
  .experience_bi_link {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    z-index: 2;
    justify-self: end;
    margin-right: 0.7rem;
    margin-top: 0.66rem; }
  .experience_name {
    grid-row: 1 / 2;
    grid-column: 1 /-1;
    justify-self: center;
    align-self: end;
    z-index: 3;
    width: 80%;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 0.4rem;
    background-color: #0b213d;
    color: #e6f1ff;
    font-weight: 400;
    border-radius: 6px;
    transform: translateY(50%); }
  .experience_info {
    grid-column: 1 / -1;
    margin-top: 1rem;
    font-size: 0.8rem;
    margin: 1rem;
    display: flex;
    align-items: center; }
  .experience_methods {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    margin: 1rem;
    display: flex;
    align-items: center; }

.container {
  display: grid;
  grid-template-rows: repeat(3, 100vh) auto 100vh;
  grid-template-columns: [sidebarleft-start] 4rem [sidebarleft-end fullleft-start] minmax(4rem, 1fr) [fullleft-end center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end fullright-start] minmax(4rem, 1fr) [fullright-end sidebarright-start] 4rem [sidebarright-end]; }
  .container > * {
    padding: 40px; }

.header {
  background-color: purple;
  grid-column: 2/ 12;
  grid-row: 1 / 2;
  background-image: linear-gradient(rgba(11, 33, 61, 0.93), #0b213d);
  display: grid;
  grid-template-rows: 1rem 3.5rem 3.5rem 15rem;
  grid-row-gap: 1.2rem;
  padding: 12rem 1rem 2rem 1rem; }
  .header_4 {
    align-self: end; }

.sidebarLeft {
  background-color: #223a77;
  grid-column: sidebarleft-start / sidebarleft-end;
  grid-row: 1 / 2; }

.sidebarRight {
  background-color: #0b213d;
  grid-column: sidebarright-start / sidebarright-end;
  grid-row: 1 / 2; }
  .sidebarRight_text {
    transform: rotate(90deg); }

.work {
  background-color: chocolate;
  grid-column: 3 / 11;
  grid-row: 3 /4; }

.experience_bi_github {
  color: #08e5ec; }

.experience_bi_link {
  color: #08e5ec; }
