.container {
  display: grid;
  grid-template-rows: 10vh repeat(3, 100vh) auto 100vh;
  grid-template-columns:
    [sidebarleft-start] minmax(min-content, 4rem)
    [sidebarleft-end fullleft-start] minmax(2rem, 1fr)
    [fullleft-end center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end fullright-start]
    minmax(2rem, 1fr)
    [fullright-end sidebarright-start] minmax(min-content, 4rem)
    [sidebarright-end];

  & > * {
    padding: 4em 4em 0em 4em;
    //
  }

  background-image: linear-gradient($color-primary, $color-primary-dark);
}
