.header {
  grid-column: fullleft-end / fullright-start;
  grid-row: 2 / 3;

  display: grid;
  grid-template-rows: minmax(repeat(3, 1fr), min-content);
  grid-template-columns: minmax(min-content, max-coontent);

  height: 100vh;

  //background-image: $color-primary-dark;
  background-size: cover;
  background-position: top;
  position: relative;

  backface-visibility: hidden;

  .text-box {
    position: relative;
    grid-row: 2 / 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_1 {
    //Theo Sphikas
    display: block;
    opacity: 0;

    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;

    animation-fill-mode: forwards;

    //animation-iteration-count: infinite;
  }

  &_2 {
    //I Build
    display: block;
    opacity: 0;

    animation: moveInRight 1s ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  &_3 {
    //Info
    display: block;
    opacity: 0;

    animation: moveInRight 1s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }

  &_4 {
    //My names
    display: block;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}
