/* .flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.primary-toolbar {
  align-items: center;
  justify-content: space-between;

  display: block;
  grid-column: sidebarleft-start / sidebarright-end;
  grid-row: 1 / 2;
  z-index: 3;
}

.primary-navigation {
  list-style: none;
  justify-content: start;
  padding: 0;
  margin: 0;

  //background: hsl(0 0% 100% 0 0);
  backdrop-filter: blur(1rem);
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > [area-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

@media (max-width: 35em) {
  .primary-navigation {
    position: fixed;
    inset: 0 50% 0 0;

    flex-direction: column;
    padding: min(30rem, 10rem) 2em;
  }
} */

nav {
  //box-sizing: border-box;
  //justify-content: flex-end;
  //align-items: center;
  //min-height: 8vh;

  background-color: $color-primary;
  grid-column: sidebarleft-start / sidebarright-end;
  grid-row: 1 / 2;

  background-size: cover;
  background-position: right;

  /* display: grid;
  grid-template-rows: (repeat(6, 1fr));
  grid-template-columns: 1fr; */
}
