$color-primary: #252934;
$color-primary-dark: #1e242c;
$color-blue-light: #04c2c9;
$color-blue-dark: #00a1a7;
$color-white: #fff;
$color-pink-highlight: #e31b6d;

/* $font-primary:;
$fint-secondary:; */
