$color-primary: #223a77;
$color-primary-dark: #0b213d;
$color-blue-light: #08e5ec;
/* $color-blue-dark: #09aaaf; */
$color-white: #e6f1ff;
$color-pink-highlight: #e31b6d;

$font-primary: sans-serif;
$font-secondary: sans-serif;

$border-radius: 6px;
